.container {
  max-width: 1200px;
  margin: 0 auto;
  display: block;

  img {
    margin: 40px auto;
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 0 20px;
    img {
      margin: 20px auto;
    }
  }
}
