.italic {
  font-style: italic;
  font-family: inherit;
}

h1 {
  width: 430px;
}

h1,
h2 {
  margin-top: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .answers {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    flex-direction: column;
    h1 {
      width: 300px;
    }
  }
}
