/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "../src/app/styles/variables";

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@import './../node_modules/tippy.js/dist/tippy.css';
@import './../node_modules/tippy.js/themes/light.css';
@import './../node_modules/tippy.js/animations/scale.css';
@import 'tippy.js/dist/svg-arrow.css';

* {
  font-family: "Work Sans";
  box-sizing: border-box;
}

body {
  background-color: $background;
  user-select: none;
}

.cb-popover {

  & > .tippy-box {
    background: $background-alt !important;
    border-radius: 0;
    & .tippy-arrow {
      color: $background-alt !important;
    }
  }
}


.text {
  &-h1 {
    font-family: "Unna", serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 46px;
    color: $white;
  }
  &-h2 {
    font-size: 25px;
    font-weight: 500;
    line-height: 29px;
    color: $white;
    margin-bottom: 32px;
  }

  &-h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: $white;
  }

  &-body {
    font-size: 16px;
    line-height: 25px;
    color: $white !important;
  }

  &-bold {
    font-weight: 700;
  }

  &-disclaimer {
    font-size: 12px;
    line-height: 18px;
    color: $white;
  }
}


