<div class="slider-container">
  <ng-template #tpl>
    <span *ngIf="steps[selected]">{{ selected + 1 }}</span>
  </ng-template>
  <div class="labels">
    @if (steps[0]) {
    <span class="text-body">{{ 1 }}</span>
    } @if (steps[steps.length - 1]) {
    <span class="text-body">{{ steps.length }}</span>
    }
  </div>
  <div class="wrapper">
      <div #background class="background">
         @for (step of steps; track step; let i = $index) {
         <div class="tick">
            <div class="bar" [ngStyle]="getOpacity(i)"></div>
         </div>
         }
      </div>
    <input
      #input
      id="temp" 
      name="temp" 
      list="markers"
      class="slider"
      type="range"
      [min]="0"
      [max]="steps.length"
      [value]="selected"
      (click)="onChange($event)"
      (change)="onChange($event)"
      [(ngModel)]="selected"
      [ngModelOptions]="{ standalone: true }"
    />
    <datalist #content id="markers">
      @for (step of steps; track step; let i = $index) {
         <option [id]="'step-' + i" [value]="step.name"></option>
      }
    </datalist>
  </div>
  <div class="labels">
    @if (steps[0]) {
    <span class="text-body">{{ steps[0].name }}</span>
    } @if (steps[steps.length - 1]) {
    <span class="text-body">{{ steps[steps.length - 1].name }}</span>
    }
  </div>
</div>
