<div class="slider-container">
  <ng-template #tpl>
    <span>{{ steps[selected].name }}</span>
  </ng-template>
  <div class="labels">
    @if (steps[0]) {
    <span class="text-body">1</span>
    } @if (steps[steps.length - 1]) {
    <span class="text-body">{{ steps.length }}</span>
    }
  </div>
  <div class="wrapper">
    <input
      class="slider"
      type="range"
      list="ranges"
      [min]="1"
      [max]="steps.length"
      [value]="selected"
      id="myRange"
      name="test"
      (click)="onChange($event)"
      (change)="onChange($event)"
      [(ngModel)]="selected"
      [ngModelOptions]="{ standalone: true }"
    />
    <datalist #content id="ranges">
      @for (step of steps; track step; let i = $index) {
      <option [id]="'step-' + i" [value]="step.name"></option>
      }
    </datalist>
  </div>
  <div class="labels">
    @if (steps[0]) {
    <span class="text-body">{{ steps[0].name }}</span>
    } @if (steps[steps.length - 1]) {
    <span class="text-body">{{ steps[steps.length - 1].name }}</span>
    }
  </div>
</div>
