
@import './../../styles/variables';



.slider-container {

  position: relative;
  margin-top: 80px;

}

.labels {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  span {
    width: 80px;
  }

  span:last-of-type {
    text-align: right;
  }

  &-top {

  }

}


.wrapper {

  display: flex;
  align-items: center;
  position: relative;
  margin: 24px 0 12px 0;
  height: 7px;
  gap: 70px;
  background: $background;



  datalist {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    height: 100%;
    z-index: 10;
    gap: 3px;
    overflow: hidden;


    option {
      background-color: $background-alt;
      height: 100%;
      width: 100%;
    }
  }

  .slider {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: relative;
    z-index: 40;
    width: 100%;
    height: 7px;
    background-color: transparent;

  }



  .slider::-webkit-slider-thumb {
  -webkit-appearance: none !important;
   width: 24px;
   height: 24px;
   border: solid 2px $background;
   background: $background-alt;
   border-radius: 50%;
   cursor: pointer;
   margin-top: -15px;
}



  .segment {
    width: 3px;
    height: 7px;
    background-color: $white;
  }

  .thumb {
    width: 25px;
    height: 25px;
    background-color: $accent;
    border-radius: 50%;
    position: absolute;
    left: 0;
    cursor: grab;
    user-select: none

  }

}


.noselect {
  // -webkit-touch-callout: none !important;
  // -webkit-user-select: none !important;
  // -webkit-user-drag: none !important;
  // -khtml-user-select: none !important;
  // -moz-user-select: none !important;
  // -ms-user-select: none !important;
  // user-select: none !important;
  }
